@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
    font-family: 'Roboto', serif;
    color: #FAFAFA;
    background-color: #14191D;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 0;
}
#survey-form {
    display: flex;
    flex-flow: column nowrap;
}
.card {
    padding: 1.7rem;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
}
.field {
    display: flex;
    flex-flow: column nowrap;
}